@charset "UTF-8";

* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;  
    font-family: 'Roboto';
}

img {
    max-width: 100%;
    height: auto;
}

.actived {
    background-color: rgba(89, 128, 245, 0.664);
}

.border-red {
    border: 1px solid tomato !important;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.form {
    background-color: #fff;
    width: 100%;
    padding: 1em;
    position: relative;
    top: 20vh;
    margin: auto;
}

.form .logo {
    width: 12em;
    margin: auto;
}

.field {
    margin: 1em 0;
}

.field .icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: .5em 0;
    padding: .3em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.field .icons .fa {
    cursor: pointer;    
    border-radius: 50%;
    padding: .5em;
}

.field .block {
    margin-bottom: 1em;
}

.field #result {
    background-color: #ddd;
    padding: 1em;
    line-height: 1.5rem;
    word-break: break-all;
}

.field textarea {
    display: block;
    width: 100%;
    border: 1px solid rgb(143, 142, 142);
    border-radius: .15em;
    padding: .5em;
    outline: none;
    font-weight: bold;
    resize: none;
}

.send button {
    display: block;
    width: 100%;
    background-color: rgb(10, 63, 163);
    border: 1px solid rgb(10, 63, 163);
    color: #fff;
    padding: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.send button:hover {
    background: none;
    border: 1px solid rgb(10, 63, 163);
    color: rgb(10, 63, 163);
}

@media screen and (min-width: 720px) {
    .form {
        width: 60%;
        margin: auto;
    }
}

@media screen and (min-width: 960px) {
    .form {
        width: 40%;
        margin: auto;
    }
}